<!-- File: views/partials/footer.ejs -->
<footer class="text-center py-4 bg-dark text-white">
    <div class="container">
        
        <!-- Contact Information -->
        <p>
            Email: 
            <a href="mailto:sumitprasad102@gmail.com" class="text-light">sumitprasad102@gmail.com</a> | 
            Phone: 
            <a href="tel:+919702704685" class="text-light">+91 9702704685</a>
        </p>
        
        <!-- Social & Coding Profiles -->
        <!-- Font Awesome for Icons -->
        <link rel="stylesheet" 
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <div class="d-flex justify-content-center gap-3">
            <a href="https://leetcode.com/u/aTjPRmJntF/" 
               target="_blank" class="text-light d-flex align-items-center gap-2">
                <i class="fa-solid fa-code"></i> LeetCode
            </a> |

            <a href="https://github.com/Sumit123sm" 
               target="_blank" class="text-light d-flex align-items-center gap-2">
                <i class="fa-brands fa-github"></i> GitHub
            </a> |

            <a href="https://www.geeksforgeeks.org/user/sumitpra22yd/" 
               target="_blank" class="text-light d-flex align-items-center gap-2">
                <i class="fa-solid fa-graduation-cap"></i> GeeksforGeeks
            </a> |

            <a href="https://www.linkedin.com/in/sumit-prasad-811736264/" 
               target="_blank" class="text-light d-flex align-items-center gap-2">
                <i class="fa-brands fa-linkedin"></i> LinkedIn
            </a>
        </div>

        <!-- Copyright -->
        <p class="mt-3">&copy; 2025 My Portfolio. All Rights Reserved.</p>
    </div>
</footer>
