<nav class="navbar navbar-expand-lg fixed-top custom-navbar">
    <div class="container">
        <!-- Logo -->
        <img src="uploads/S_logo.jpg" alt="Logo" width="30" height="28" 
            class="d-inline-block align-text-top">

        <!-- Added 'ms-3' to create space -->
        <a class="navbar-brand fw-bold fs-3 ms-3" href="#">My Portfolio</a> 

        <!-- Toggle Button for Small Screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link fs-5" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="/skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="/contacts">Contact</a>
                </li>
            </ul>

            <!-- Theme Toggle Button -->
            <button class="btn btn-outline-light ms-3 toggle-mode fs-5">🌙</button>
        </div>

        <!-- Extra Button for Small Screens -->
        <button class="btn btn-primary d-lg-none ms-2 fs-5" onclick="toggleMobileMenu()">☰ Menu</button>
    </div>
</nav>
