<section id="skills" class="container py-5">
    <h2 class="text-center mb-4">Skills</h2>
    <div class="row text-center">
        <% skills.forEach(skill => { %>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="skill-box p-3 shadow-sm">
                    <i class="bi bi-check-circle-fill text-success"></i>
                    <strong><%= skill.skill_name %></strong> 
                    <strong><%= skill.category %></strong> 
                    <span class="badge bg-primary"><%= skill.level %></span>
                </div>
            </div>
        <% }) %>
    </div>
</section>

